/* Responsive Breakpoints */
$breakpoint-xs: 360.98px;
$breakpoint-sm: 560.98px;
$breakpoint-md: 767.98px;
$breakpoint-lg: 991.98px;
$breakpoint-xl: 1199.98px;

/* shape */
$border-radius-wide: 30px;
$border-radius-sharp: 10px;