.Nav {
  /* display: inline; */
  /* max-width: 500px; */
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  /* padding: 50px 0px; */
  /* align-content: stretch; */
  /* align-items: flex-start; */
  /* background-color: red; */
}

.NavItem{
  font-size: 50px;
  font-family: 'Alata', sans-serif;
  cursor: pointer;
}


